@font-face {
    font-family: myFirstFont;
    src: url(Monaco.ttf);
  }

body{
    font-family: myFirstFont;
    height: 200%;
    background-color: #37474a;
}
#editor{
    width: 50%;
    height: auto;
    background-color: #354042;
    float: left;
    margin: 0;
    padding: 3px;
    padding-top: 0;
    color: #7d7a5b;
    margin-left: 7px;

}






#numbers{
    
    float: left;
    text-align: right;
    width: 2%;
}
#numbers p {
    margin: 0;
    margin-right:4px;
    padding-top: 4px;
    color: #7c888a;
}
.container{
    width: 100%;
    margin-top: 0;
   
}
#nav li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.3rem;
    background-color:#354042 ;
    color: white;
    padding: 10px;
    
    
  
    
    
}
#nav ul{
    margin: 0;
    padding: 0;
    padding-left: 3%;

}
#nav {
    margin:0;
    width: 100%;
}
#editor div {
    padding-top: 4px;
    padding-left: 5px;
}
#editor:read-write:focus {
    outline: none;
}
#footer{
    height: 500px;
    width: auto;
    clear: both;
}
#editor div:focus{
    border: thistle 1px solid;
}














































